# =========================
# Google OAuth
# =========================

# Google OAuth Client ID used by the frontend
VITE_GOOGLE_CLIENT_ID=


# =========================
# Backend API
# =========================

# Base URL of the backend server
VITE_BACKEND_BASE_URL=http://localhost:5000